<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
         <link rel="icon" type="image/png" href="favico.png" />
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/assets/css/estilinhos.css">

         <script src="/bower_components/less.js/dist/less-1.7.0.min.js" type="text/javascript"></script>
         <script src="/bower_components/jquery/dist/jquery.js"></script>
         <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- This following line needed in the case of setting the plugin option `scrollOverflow` to `true` -->
     

    </head>
    <body>


        <div class="container main" id="fullpage">
          
          <div class="row" id="top">
            <div class="col-lg-8 col-md-8 col-sm-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-0 col-xs-offset-0">
              <a href="/"><h1 class="title"><img src="/assets/images/id/autistico.png" class="img-responsive" alt="autistico"></a>
              </h1>
            </div>
          </div>
          
          <div class="main-menu" >

           
 
                <ul >
                  <li class="col-xs-4 col-sm-4 col-md-4 col-lg-4" data-menuanchor="eventos"><a href="#eventos">eventos</a></li>
                  <li class="col-xs-4 col-sm-4 col-md-4 col-lg-4 " data-menuanchor="autisticos"><a href="#autisticos">autísticos</a></li>
                  <li class="col-xs-4 col-sm-4 col-md-4 col-lg-4" data-menuanchor="projecto"><a href="#projecto">projecto</a></li>
                 
                </ul>
  
            
  </div>
    <div class="clearfix"></div>

          <div class="main-content  ">
          {{ content }}
          </div>

          <div class="col-lg-12 col-md-12">
<div id="eventos">
  <ul class="row main-events">
    <li class=" col-lg-2 col-md-2 col-sm-3 first separador">eventos</li>
    {% for events in site.posts reversed %}
      {% if events.layout == 'events' %}

          <li class="col-lg-6 col-md-6 col-sm-10 col-sm-offset-1 col-md-offset-0 col-lg-offset-0 item">
            
              
              <div class="front">
                <a href="{{ events.url }}"> 
                <h1>{{ events.day }} | {{ events.month }}</h1>
                <h5>{{ events.title }}</h5>
                <h3>{{ events.artists-nolinks }}</h3>
                <h4>{{ events.where }} | {% if events.sub-event %} {{ events.sub-event }} {% endif %} | {{ events.price }}</h4>
                </a>
              </div>
              <div class="background">
                <img src="/assets/images/{{ events.image }}" class="img-responsive" alt="{{ events.title }}">
              </div>
            
          </li>
        {% endif %}
     {% endfor %}
    </ul>
 </div>
    <div class="clearfix"></div>
    <div id="autisticos" > 
      <ul class="row main-artists">
        <li class="col-md-2 col-sm-3 col-lg-2 separador" >autísticos</li>
        {% for artists in site.posts reversed %}
          {% if artists.layout == 'artists' %}
            <li class="col-lg-4 col-md-6 col-sm-10 col-sm-offset-1 col-md-offset-0 col-lg-offset-0 ">
              <a href="{{ artists.url }}">
              <img src="/assets/images/{{ artists.images[0] }}" class="img-responsive" alt="{{ artists.title }}">
              <h4>{{ artists.title }} | [{{ artists.nation }}] | {{ artists.event }}</h4>
            </a></li>
          {% endif %}
      {% endfor %}
    </ul>
    </div>

    <div id="projecto">
       
       <ul class="row projecto">
      <li class="col-md-2 col-lg-2 col-sm-3 separador" >Projecto</li>
          <li class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
          O ‘Autístico’ é uma série de concertos individuais aos sábados à tarde-noite, em espaços ligados ao movimento associativo do Porto, a partir do mês de Maio de 2014.
          <br> <br>
          Durante os meses mais convidativos à fruição da música ao ar livre, o ‘Autístico’ irá primar pela apresentação de projectos musicais, de vários géneros e proveniências, em blocos de 2-3 momentos por sábado e em locais do Porto relacionados com a actividade associativa.
          <br><br>
          Nascido da boa-vontade de amigos, o conceito passa pela actuação de músicos e djs nacionais e estrangeiros que residam no Porto, em sessões de entrada livre ou sujeitas a pequenas contribuições.
          
        </li>

    </ul> 
  
              
          </div>
</div>

          <div class="clearfix"></div>
          <div class="row footer">
            <div class="col-lg-10 col-lg-offset-1">
             <ul>
    <li class="col-md-2 col-lg-2 col-sm-3   separador" >Contacto</li>
          <li class="col-lg-8 col-lg-offset-2">
          <a href="mailto:projectoautistico@gmail.com">projectoautistico@gmail.com</a>
        </li>

    </ul>
              <br><br><br><br>
              <img src="/assets/images/id/desenho.png" class="img-responsive" alt="autistico">
              <br><br>
              <div class="col-lg-4 col-md-4 col-sm-4">
                <p class="separador">design</p>
                <p><a href="mailto:dayanadc@gmail.com">Dayana Lucas</a></p>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
                <p class="separador">
                impressão</p>
                <p><a href="http://www.oficina-arara.org">www.oficina-arara.org</a> <br> <a href="mailto:arara@oficina-arara.org">arara@oficina-arara.org</a>
                </p>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
                <p class="separador">
                web</p>
                <p><a href="http://www.alfaiataria.org">www.alfaiataria.org</a> <br> <a href="mailto:ruisilva@alfaiataria.org">ruisilva@alfaiataria.org</a>
                </p>
              </div>
          </div>
        </div>
        


    </body>
</html>


